body{
    background-image: url(https://wallpapers.com/images/hd/parchment-paper-background-tgk8es2kbmytv8am.jpg);
}

h1{
    font-family: "UnifrakturMaguntia", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 62px;
    margin-top: 30px;
    margin-bottom: 0px;

    text-align: center;
    color: #6b5f46;
}

p{
    font-family: "UnifrakturMaguntia", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 32px;
    margin: 0px 0px 0px 0px;

    text-align: center;
    color: #6b5f46;
}

.E{
    font-family: "UnifrakturMaguntia", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 100px;
    margin-left:30px;

    text-align: left;
    color: #6b5f46;
    display:inline-block;
}

.title{
    font-family: "UnifrakturMaguntia", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 32px;

    text-align: left;
    margin-right: 0px;
    border-right: 0px;
    padding-right: 0px;
    color: #6b5f46;
    display:inline-block;
}


div{
    font-family: "UnifrakturMaguntia", cursive;
    font-weight: 400;
    font-style: normal;
    font-style: normal;
    font-size: 32px;

    color: #6b5f46;
    margin-left: 50px;
    margin-right: 50px;
    display:inline-block;
}